<!DOCTYPE html>
<html lang="az">

<!-- Head bölümü -->
{% load static %}
{% include 'head.html' %}

<body>

    <!-- Header bölümü -->
    {% include 'header.html' with settings=settings %}


    <!-- Main içerik bölümü -->
    <main class="container mt-5">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer bölümü -->
    {% include 'footer.html' %}

    <!-- Bootstrap JS ve jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>
